.DS_Store
.Rhistory
.Rproj.user
.RData
.Ruserdata
*.Rcheck
*_*.tar.gz
target
roxido.txt
registration.rs
/README.html
/cargo/inst/template/R/roxido.R
/cargo/inst/template/inst/
/cargo/inst/template/src/shim.c
